[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "~=1.9.3"
pytest = "*"
"autopep8" = "*"
rope = "*"
PySide = "*"

[packages]
requests = "~=2.18"
websocket-client = "~=0.47"
"Qt.py" = "~=1.1.0"
wlf = {git = "https://github.com/WuLiFang/wlf",ref = "0.5.3"}
cgtwq = {git = "https://github.com/WuLiFang/cgtwq",ref = "3.0.0-alpha.8"}

[requires]
python_version = "2.7"
