[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "~=1.9.3"
pytest = "*"
"autopep8" = "*"
rope = "*"
PySide = "*"

[packages]
requests = "~=2.18"
websocket-client = "~=0.47"
"Qt.py" = "~=1.1.0"
wlf = {file = "https://github.com/WuLiFang/wlf/archive/0.5.0.tar.gz"}
cgtwq = {file = "https://github.com/WuLiFang/cgtwq/archive/3.0.0-alpha.0.tar.gz"}

[requires]
python_version = "2.7"
